{% extends 'base.html' %}

{% block myTitle %} 
Παράπονα - Λίστα
{% endblock myTitle %} 

{% block myHeader%}
Λίστα παραπόνων
{% endblock myHeader %}

{% block myArticle %}

<table border="1">
  <tr>
    <th> Κωδ. </th>
    <th> Καταναλωτής </th>
    <th> Εταιρία </th>
    <th> Υποβολή </th>
  </tr>

  {% for parapono in lista_paraponon %}
  <tr>
    <td> {{parapono.id }}           </td>
    <td> {{ parapono.katanalotis }} </td>
    <td> {{ parapono.etairia }}     </td>
    <td> {{ parapono.ypovoli }}     </td>
    <td> <a href="{% url 'ena_parSelida' parapono.id %}">Προβολή</a> </td> 
    <td> <a href="{% url 'tro_parSelida' parapono.id %}">Αλλαγή </a> </td> 
    <td> <a href="{% url 'svy_parSelida' parapono.id %}">Σβήσιμο </a> </td>
  </tr>
  {% endfor %}
</table>

{% endblock myArticle %}