{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Παράπονα καταναλωτών</title>  
    <link href="{% static 'base.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <h2>
            {% block myHeader %}
            Παράπονα καταναλωτών
            {% endblock myHeader %}
        </h2>
    </header>

    <nav>
        <a href="{% url 'arxikiSelida' %}">Αρχική</a> 
        <a href="{% url 'neo_parSelida' %}">Νέο παράπονο</a> 
        <a href="{% url 'periSelida' %}">Περί</a>
    </nav>

    <article>
        {% block myArticle %}
        {% endblock myArticle %}
    </article>
</body>

</html>